pytest
scapy==2.4.3
requests
dnspython
docker
anytree
graphviz
netifaces
netfilterqueue
cryptography==3.3.2
paramiko
codecov
pytest-cov
dnspython
tld
python-dotenv
mysql-connector
beautifulsoup4
requests
psutil
tqdm
